#allCards{
  width:100%;
  margin-left: 2rem;
}
.card{
  margin:.25%;
  display:inline-block;
  float:right;
  min-height:50rem;

}
img{
  max-width: 100%;
  height:auto;
}
.filter{
  float:left;
  position: fixed;
  width:17%;
  margin-left: -2.5%;
}
