#loginForm{
  background-color: white;
  border:0px;
}
#signupForm{
  background-color: white;
  border:0px;
}
.login{
  margin-right: 20px;
  margin-left: auto;
}
.signup{
  margin-right: auto;
  margin-left: 20px;
}
.nav-tabs{
  width:25%;
  margin-left: 23vw;
}
.nav-item{
  margin:0;
  background-color: #d2d5d9;
}
.jumbotron{
  background-image:url("sodabackground.jpeg");
  background-size: 100%,100%;
  background-color: white;
  height:107vh;
  width:100vw;
  margin-top:-10vh;
  text-align:center;
}
.jumbotron h2{
  font-size:150px;
  font-family: 'Lemon', cursive;
  color:white;
  text-shadow:8px 8px brown;
  word-break: keep-all;
  white-space:normal;
}
.jumbotron h1{
  font-size:40px;
  font-family: 'Noto Sans SC', sans-serif;
  color:white;
  text-shadow:2px 2px black;
  word-break: keep-all;
  white-space:normal;
}
#footer{
  word-break: keep-all;
  white-space:normal;
}
