.image {
    width: 300px;
    /* max-height:350px; */
}
.recs .card{
  margin:.25%;
  display:inline-block;
  float:left !important;
  min-height:30rem;
  width: 300px !important;
}
.row{
  margin-top: 3%;
}
